{% extends 'base.html' %}
{% block content %}

<main class="cadr card-body">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sandstone/bootstrap.min.css"
        integrity="sha384-zEpdAL7W11eTKeoBJK1g79kgl9qjP7g84KfK3AZsuonx38n8ad+f5ZgXtoSDxPOh" crossorigin="anonymous">

    {% load static %}
    <img src="{% static 'imagen/logo2.png' %}" width="300" height="200">
    <h3 class="display-5 text-center text-warning">Crear Tarea</h3>
    {% load static %}
    <img class="rounded float-end" src="{% static 'imagen/fuego4.gif' %}">
    {{error}}

    <form action="/tarea/crear/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}



        {{ form.as_p}}

        <button class="btn btn-secondary">Aceptar</button>
    </form>
</main>

{% endblock %}